#main-container{
    width: 100%;
    max-width: 930px;
    height: 500px;
    margin: 10px auto;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#newForm{
    width: 100%;
    max-width: 930px;
    height: 500px;
}
#newForm input{
    margin-top: 5px;
    height: 30px;
}
#newForm .main-edit{
    width: 90%;
    margin: 5px auto;
}
#newForm .main-edit label{
    margin-left: 0;
}
#btn{
    width: 100%;
    align-items: center;
}
#btn .btns{
    width: 30%;
    margin-left: 13%;
}
